body {
  margin: 0;
  display: flex;
  font-family: Arial;
  background: #0b132b;
  color: white;
}

.sidebar {
  width: 220px;
  background: #1c2541;
  padding: 10px;
}

.sidebar button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}

.content {
  flex: 1;
  padding: 20px;
}

.hidden {
  display: none;
}

table td {
  border: 1px solid #555;
  padding: 4px;
}