body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #312727;
  color: white;
}

header {
  padding: 20px;
  background: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

section {
  padding: 60px 20px;
  text-align: center;
}

button {
  background: #f700d6;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}
