body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0b0b;
  color: #eaeaea;
}

.hero {
  padding: 60px 20px;
  text-align: center;
  background: black;
  border-bottom: 1px solid #222;
}

.cases {
  padding: 30px 20px;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #777;
}